<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de clientes</h1>
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/sprites/new_packs/1537488-reggae.png" alt="">
        <button on-click="obtenerClientes" class="btn btn-success col-lg-4 col-xl-12" type="button" name="button">Obtener clientes</button>

      </div>
      <div class="row">
        <table >
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
            <tr>
              <td>[[item.CustomerID]]</td>
              <td>[[item.ContactName]]</td>
              <td>[[item.CompanyName]]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes= JSON.parse(request.responseText).value;
        console.log(this.clientes);
      }
      anadirClientes(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"pepe","CompanyName":"Pepe Bar"}
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta)
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
